:root {
  --blue-100: #E6F0FA;
  --blue-200: #B3D9F2;
  --blue-300: #40C4FF;
  --blue-400: #0288D1;
  --blue-500: #01579B;

  --pink-100: #FCE4EC;
  --pink-200: #F8BBD0;
  --pink-300: #F06292;
  --pink-400: #C2185B;
  --pink-500: #880E4F;

  --primary: var(--blue-400);
  --secondary: var(--pink-300);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--blue-100);
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--secondary);
}

/* Bootstrap override if needed */
.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}



.footer {
  /* Optional: Uncomment below to fix footer at bottom */
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999; */
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: #01579B; */
  background-color: #194d63;
  color: #fff;
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.text-justify {
  text-align: justify;
}
.about_us h5 
{
  color:  #5a92a3;
      font-weight: 600;
}
.about_services .icon-box {
  width: 50px;
  height: 50px;
  background: #eaf2f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--primary) !important;
}

.unlocking_img {
  height: 460px;
}

.steps_img_height {

  height: 340px;
}
.expand_block h6
{
color: #5a92a3;
}
.border-primary 
{
  border-color: #194d63 !important;
}
.get_start_block .btn-danger 
{
  background-color: #194d63;
  border: transparent;
}
.get_start_block h2
{
      color: #194d63;
}
.hospital_story_text
{
      /* font-size: 27px; */
}
.card_header_for_hospital {
  background-color: #E6F0FA;
  color: #000;
  padding: 18px 10px;
}
.bg_question
{
  background: url("../assets/myths_bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .unlocking_img {
    height: 348px;
  }
}

@media (max-width: 768px) {
    .bg_question
  {
    background: none;
  }
  .diagnosis_text img {
    height: 30vh !important;
}
  .steps_img_height {
    height: 200px;
  }
}

.w_70 {
  width: 70%;
  margin: auto;
}

.lead {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
.location_block i
{
 color: #194d63;
}
.contact_us_left i 
{
   color: #194d63;
}
.contact_block h1,
.contact_block h5
{
  color: #194d63;
}
.contact_us_left {
  background-color: #fff;
  padding: 7% 7%;
}

.contact_us_right {
  background-color: #fff;
  padding: 7% 7%;
}

.terms_block h4 {
  font-size: 1.5rem;
  color: #1A5276;
}

.hamburger span {
  background-color: #a79d9d;
}
.faq_block #faqAccordion .accordion-item ul p a .text-primary
{
  color: #1A5276 !important;
}
.faq_list li {
  margin-bottom: 12px;
}

.faq_list {
  font-size: 13.5px;
  font-weight: 400;
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.bg-light-blue {
  background-color: #e6f0fa;
}

.hospital_img_height {

  height: 142px;
}
.bg_expand 
{
    background: url("../assets/94170.jpg");
  background-position: center;
  background-size: 637px;
  background-repeat: no-repeat;
}
.bg_benifits
{
  background: url("../assets/bg-benifits.jpg");
  background-position: left bottom;
  background-size: 500px;
  background-repeat: no-repeat;
}
.patients_list li {
  margin-bottom: 4%;
}

.bg-cover {
  background-image: url('../assets//bg_insu_digi.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #fff;
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* dark overlay */
}

.content-wrapper {
  position: relative;
  z-index: 2;
}

.insurance_list p {
  text-align: left;
}

.insurance_list {
  position: relative;
}

.insurance_list_img {}

.insurance_list_img img {
  width: 26%;
  position: absolute;
  right: -66px;
  top: 80px;
}

@media (min-width: 768px) {
  .bg-cover {
    height: 100vh;
  }
}

.btn-secondary {
  background-color: transparent;
  border: transparent;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 0.3rem 0.5rem;
  display: inline-block;
}

.bg-image {
  background-image: url('../assets/pat_banner.jpg');
  /* Your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh !important;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

.overlay-content {
  position: relative;
  z-index: 2;
}

.overlay-content h2,
.overlay-content p {
  margin-bottom: 4%;
  
}
.bg-image_hospital {
  /* background-image: url("../assets/indian_doct.png"); */
  background-image: url("https://img.freepik.com/premium-photo/doctors-nurse-with-hand-crossed-together_13339-143072.jpg?w=826");
  background-size: cover;
  background-position: right top ;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh !important;
}

.bg-image_hospital::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

.bg-image_ins {
  background-image: url('../assets/insurance.png');
  /* Your image path */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh !important;
}

.bg-image_ins::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

.bg-image-about {
  background-image: url('../assets/vision_mission.jpg');
  /* Your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh;
}

.bg-image-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

.overlay-content {
  position: relative;
  z-index: 2;
}
.partner_overlay 
{
  line-height: 50px;
}
.bg-image-partners {
  background-image: url('../assets/partners.jpg');
  /* Your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh !important;
}

.bg-image-partners::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}
 
.bg-image-contact {
  background-image: url('../assets/contact.png');
  /* Your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh;
}

.bg-image-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}
.footer_logo {
  background-image: url('../assets/logo_bg.jpeg');
    background-size: cover;
    background-position: -35px -47px;
    background-repeat: no-repeat;
    height: 28vh;
}
@media (min-width: 320px) {
 .footer_logo {
 display: none;
 }
}
@media (min-width: 768px) {
 .footer_logo {
 display: block;
 }
}
@media (max-width: 768px) {
  .footer_logo_mobile 
  {
    width: 45%;
    margin: auto;
    display: block;
  }

}
@media (max-width: 576px) {
  .live_transform {
    font-size: 2rem;
  }
  .newsletter-beauty
  {
        padding: 0rem 0rem;
  }
 
  .btn-mobile-sm {
    padding: 0.25rem 0.5rem;
    /* Small padding */
    font-size: 0.875rem;
    /* Smaller font size */
  }
}

.about_images {
  position: absolute;

}

.about_img1 {
  width: 350px;
  height: auto;
}

.about_img2 {
  width: 88%;
}

.how-helps-section {
  background-color: #f4f7fc;
}

.ready-next {
  background: linear-gradient(145deg, #E6F0FA, #B3D9F2);

  color: #1f2d3d;
}

.ready-next-card {
  padding: 2rem;
  margin-left: 3rem;
  left: 10%;
}

@media (max-width: 576px) {
  .bg_question
  {
    background: none;
  }
  .bg-image_hospital
  {
   height: 90vh !important; 
  }
  .section-title {
    font-size: 2.3rem;
}
  .height-50 {
    height: 45vh !important;
}
  .w-25 {
    width: 85% !important;
}
  .bg-image_ins {
    height: 90vh !important;
}
  .dropdown-menu {
    height: auto;
    overflow: scroll;
  }

  .ready-next-card {
    padding: 2rem;
    margin-left: 0;
    left: 0;
    margin-top: 12%;
    margin-bottom: 12%;
  }
}

/* parthenrs  */
.partner_logo {
  width: 40%;
}

/* myths  */
.cancer_types li .nav-link.active 
{
      background-color: #194d63;
}
.cancer_types li .nav-link
{
color: #194d63;
}
.understand_cancer .subheading 
{
color: #194d63;
}
.font_size_20 
{
  font-size: 20px;
}
.testimonial-section-myths {
  background-color: #194d63;
  color: #fff;
  padding: 60px 20px 40px;
  position: relative;
  text-align: center;
}

.testimonial-section-myths::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  clip-path: polygon(50% 0%, 100% 100%, 0 100%);
}

.testimonial-myths {
  text-align: center;
  padding: 30px 20px;

}

.fact_row .col {
  border-left: 2px dotted #d9d4d4;
  border-top: 2px dotted #d9d4d4;
}

.fact_row .col:last-child {
  border-bottom: 2px dotted #d9d4d4;
}

.fact_row_lastrow {
  border-bottom: 2px dotted #d9d4d4;
}

.testi_myths_text p {
  margin-bottom: 3px;
}

.testimonial-myths img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-myths p {
  /* font-size: 15px; */
  text-align: left;
  margin-left: 12px;
}

.testimonial-myths .name {
  font-weight: 600;
  margin-top: 10px;
}

.testimonial-myths .title {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
}


.bg-image-myths {
  background-image: url('../assets/myths_bg_main.jpg');
  /* Your image path */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh !important;
}

.bg-image-myths::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}
.feature-icon 
{
      color: #194d63;
      background-color: #E6F0FA;
}
.feature-card h5 
{
  color:#194d63;
}
.myths_cards .card-header {
  background-color: #194d63;
  color: #fff;
  padding: 12px;
}

.types_cancer_list ul li {
  margin-bottom: 5px;
}

.diagnosis_text img {
  height: 46vh;
}

.subtitle_myths {
  font-size: 20px;
}

.diagnosis_img {
  width: 30%;
}

.diagnosis_list li {
  margin-bottom: 17px;
  line-height: 23px;
}

/* second opnio  */
.font_bold 
{
font-weight: bold;
}
.mb_20
{   
  /* margin-bottom: 21px; */
}

.stat-card {
  height: 100px;
  position: relative;
}

.stat-card i {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.stat-content {
  position: relative;
  z-index: 1;
}
.stat-content p 
{
  /* height: 13vh; */
}
.second-option-card {
  background-color: #194d63;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
  color: #fff;
}

.second-option-card img {
  height: 24vh;
  border-radius: 20px;
}

.read-more-btn-white {
  position: relative;
  display: inline-block;
  padding: 10px 26px;
  font-size: 0.95rem;
  font-weight: 500;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 50px;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.read-more-btn-white::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-size: 100% 100%, 200% 100%;
  background-repeat: no-repeat, repeat-x;
  background-position: center bottom, center;
  transition: top 0.4s ease-in-out;
  z-index: -1;
}

.bg-image-second-opt {
  background-image: url('../assets/21202.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh;
}

.bg-image-second-opt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}
 .myths_stpe .step-section {
      background-color: #f8f9fa;
      border-left: 8px solid #194d63;
      padding: 20px;
      border-radius: 0.5rem;
      margin-bottom: 20px;
      position: relative;
    }

    .myths_stpe .step-number {
      position: absolute;
      top: -15px;
      left: -15px;
      background-color: #194d63;
      color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
    }

    .myths_stpe .step-card {
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
    }
     .myths_stpe ul li  
     {
      margin-bottom: 10px;
     }
    .myths_stpe ul li i
    {
color: #194d63;
    }
    .final_thought h6 
    {
      color: #194d63;
          font-weight: 600;
    }
    .tab-pane-myths h6 
    {
      color: #5a92a3;
    }
    .text_link 
    {
      color:#5a92a3;
    }
    .myths_stpe h5 
    {
      color: #194d63;
        margin-bottom: 4%;
    }
    .resources_txt, .resources_txt:hover
    {
       color: #194d63;
    }
    .myths_navtab_previous i
    {
  color: #194d63;
    }
.myths_navtab .nav-link {
  border-bottom: 1px solid #0281c6;
  margin-bottom: 1px;
  background-color: #e9e9e9;
  color: #333;
  text-align: center;
  padding: 20px;
  width: 75%;
}

.myths_navtab .nav-link {}

.myths_navtab .nav-link.active {
  background-color: #0288d1;
  font-weight: bold;
  color: #fff;
}

.tab-icon-myths {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

.tab-pane-myths {
  border-top: none;
  background-color: #fff;
  padding: 20px;
}

.tab-pane-myths ul li {

  line-height: 34px;
}

.myths_navtab {
  display: block;
  border: none;
}

.bg-image-question {
  background-color: #dddfde;
  background-image: url('../assets/bg_gray.jpg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

.bg_question_right {
  max-width: 100%;
  height: auto;
  width: 84%;
  margin: auto;
  position: absolute;
  top: 1rem;
  bottom: 0;
  right: 0;
}

/* menu  */
/* Common link style */

.menu-link,
.footer-link {

  text-decoration: none;
  color: gray;
}

/* Active styles */
.menu-link.active {
  /* color: #01579B; */
  color: #194d63;
  font-weight: bold;
}

.footer-link.active {
  color: #01579B;
  text-decoration: underline;
}
.footer_heading 
{
  color: #194d63;
}
.bg-image-career {
  background-image: url('../assets/job.jpg');
  /* Your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left !important;
  width: 100%;
  height: 79vh;
}

.bg-image-career::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}
.brand_text_color 
{
  color: #194d63;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {

  background-color: #0288d1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  /* Makes the arrows visible */
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev {
  left: -48px;
}

.carousel-control-next {
  right: -47px;
}

.map iframe {
  width: 100%;
}

.comming_soon {
  font-size: 5rem;
}

.height-50 {
  height: 62vh;
  width: 100%;
}