.scroll-to-top {
  position: fixed;
  bottom: 6rem;
  right: 1.9rem;
  background: #194d63;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 50%;
  font-size: 1.25rem;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.scroll-to-top:hover {
  background: #01579B;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
